nav ul{
    padding: 20px 0 20px 0; 
}

body{
    background-color: red;
}

a{
    font-size: 20px !important;
}

#inputSe{
    width:400px !important;
}

.fonttttt{
    font-size: 90px;
}

a{
    color: black !important;
}

a:hover{
    color: orange !important;
}


.bb{
    position: relative;
    margin: 10px auto 0 auto;
}
 